KGI_USER_ID=your_kgi_user_id
KGI_PASSWORD=your_kgi_password
KGI_TOKEN=your_quotecom_api_token
KGI_SID=API
KGI_BROKER_ID=your_broker_id
KGI_ACCOUNT=your_account_number
FINMIND_TOKEN=your_finmind_api_token
